@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    --font-family: 'ProximaNova', sans-serif;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

html {
    font-size: 80%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: unset;
}