.main-layout {
    display: flex;
    height: 390px;
}

.side-bar {
    background: linear-gradient(135deg,#2db1ff,#1479ff);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 20px;
    width: 266px;

    .category-item {
        border-bottom: 1px solid rgba(231,243,255,.2);
        margin-bottom: 18px;
        padding-bottom: 12px;

        .item-title {
            align-items: center;
            color: #fff;
            display: flex;
            flex-direction: row;
            font-size: 12px;
            margin-bottom: 6px;
        }

        .title-icon {
            height: 20px;
            margin-right: 8px;
            width: 20px;
        }

        .category-item-container {
            line-height: 1.3;
            word-break: break-all;

            .item-link {
                color: #fff;
                flex-shrink: 0;
                font-size: 14px;
                text-decoration: none;
                vertical-align: middle;

                &::after {
                    content: "/";
                    font-size: 12px;
                    margin: 0 0.1em;
                    vertical-align: middle;
                }
            }
        }
    }

    .category-slider-btn-wrap {
        display: block;
        margin-top: auto;
        text-align: center;

        .category-slider-btn {
            border-radius: 20px;
            box-sizing: border-box;
            color: #fff;
            font-size: 14px;
            height: 40px;
            min-width: 170px;
            padding: 0 10px;
            background-color: #449AFF;
            border-color: #449AFF;

            &::hover {
                background-color: rgb(124, 184, 255);
                color: #000;
                border-color: rgb(124, 184, 255);;
            }
        }
    }
}

.carousel {
    border-radius: 16px;
    flex: 1;
    margin: 0 12px;
    overflow: hidden;
}

.payment-options {
    width: 308px ;

    .side-entry-item {
        border-radius: 12px;
        display: block;
        height: 125px;
        overflow: hidden;
        margin-bottom: 8px;

        .item-img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}