.hor-panel {
    background: #fafdff;
    border: 1px solid #dbe9f8;
    border-radius: 16px;
    margin: 30px 0 32px;
    padding: 20px 0 5px 16px;

    .hor-panel-title {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 24px;
        margin-bottom: 20px;
        white-space: nowrap;
        width: 212px;
    }

    .panel-goods {
        // display: flex;
        overflow-x: hidden;
        padding-bottom: 1.3em;

        .panel-goods-item {
            align-items: center;
            background: linear-gradient(180deg,#fff,#e7f3ff);
            border: 1px solid #dbe9f8;
            border-radius: 12px;
            box-sizing: border-box;
            color: #41435d;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            font-size: 14px;
            line-height: 1.4;
            padding: 20px 10px 10px;
            width: 110px !important;

            .panel-goods__icon {
                height: 70px;
                margin-bottom: 10px;
                width: 70px;
            }
            .panel-goods__title {
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                font-size: 16px;
                overflow-x: hidden;
                overflow-y: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
            }
        }
    }
}