.charge-info {
    flex: 1;
    margin-left: 16px;

    .info-header {
        align-items: center;
        display: flex;
        flex-direction: row;

        .info-header__icon {
            flex-shrink: 0;
            height: 60px;
            margin-right: 8px;
            width: 60px;
        }

        .info-header__wrap {
            color: #9d9fb8;
            font-size: 12px;

            .info-header__title {
                color: #111334;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 7px;
            }

            .info-header__desc {
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                line-height: 1.5;
                overflow-x: hidden;
                overflow-y: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
            }
        }
    }

    .info-options {
        .info-options__title {
            color: #41435d;
            font-size: 16px;
            font-weight: 500;
            margin: 16px 0;
        }

        .info-options__wrap {
            grid-gap: 12px;
            display: grid;
            grid-template-columns: repeat(4,1fr);

            .info-options__item {
                align-items: center;
                background: #fff;
                border: 1px solid #dbe9f8;
                border-radius: 12px;
                box-sizing: border-box;
                color: #41435d;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                font-size: 14px;
                justify-content: center;
                line-height: 1.3;
                min-height: 50px;
                padding: 0 10px;
                position: relative;
                text-align: center;
            }
        }
    }
}